
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply px-3 py-2 uppercase font-medium text-white rounded shadow bg-red hover:bg-blue focus:outline-none focus:ring-2 focus:ring-amber-400 focus:ring-opacity-75;
  }
  .btn-outline {
    @apply px-3 py-1 font-medium border rounded-md shadow-md text-zinc-800 hover:bg-amber-900 hover:text-zinc-50 focus:outline-none focus:ring-2 focus:ring-amber-400 focus:ring-opacity-75;
  }
  .form.input {
    @apply shadow;
  }
}
